:root {
	--ff-body: "Open Sans", sans-serif;
	--ff-accent: "Raleway", sans-serif;
	--ff-heading: var(--ff-accent);

	--fw-regular: 400;
	--fw-bold: 700;
}

body {
	background-color: black;
	color: white;
	font-family: var(--ff-body);
}

h1,
h2,
h3 {
	font-family: var(--ff-heading);
	font-weight: var(--fw-bold);
}
