.container {
	max-width: min(var(--sz-700), 100% - var(--padding, var(--sp-400)) * 2);
	margin-inline: auto;
}

.block {
	display: block;
}

.flex {
	display: flex;
	gap: var(--gap, var(--sp-200));
}

.text-center {
	text-align: center;
}

.ff-accent {
	font-family: var(--ff-accent);
}

.fs-300 {
	font-size: var(--fs-300);
}

.fs-400 {
	font-size: var(--fs-400);
}

.fw-bold {
	font-weight: var(--fw-bold);
}

.fw-regular {
	font-weight: var(--fw-regular);
}

.mb-2 {
	margin-bottom: var(--sp-200);
}

.mb-4 {
	margin-bottom: var(--sp-400);
}

.mb-6 {
	margin-bottom: var(--sp-600);
}

.mb-8 {
	margin-bottom: var(--sp-800);
}

.mx-auto {
	margin-inline: auto;
}

.max-w-prose {
	max-width: var(--sz-prose);
}

.max-w-xs {
	max-width: var(--sz-200);
}

.max-w-md {
	max-width: var(--sz-500);
}
