.container {
	max-width: min(var(--sz-700), 100% - var(--padding, var(--sp-4)) * 2);
	margin-inline: auto;
}

.block {
	display: block;
}

.bg-700 {
	background-color: hsl(var(--clr-primary-700));
}

.bg-900 {
	background-color: hsl(var(--clr-primary-900));
}

.flex {
	display: flex !important;
	gap: var(--gap, var(--sp-2));
}

.text-center {
	text-align: center;
}

.ff-accent {
	font-family: var(--ff-accent);
}

.fs-100 {
	font-size: var(--fs-100);
}

.fs-200 {
	font-size: var(--fs-200);
}

.fs-300 {
	font-size: var(--fs-300);
}

.fs-400 {
	font-size: var(--fs-400);
}

.fs-500 {
	font-size: var(--fs-500);
}

.fw-bold {
	font-weight: var(--fw-bold);
}

.fw-regular {
	font-weight: var(--fw-regular);
}

.mb-2 {
	margin-bottom: var(--sp-2);
}

.mb-4 {
	margin-bottom: var(--sp-4);
}

.mb-6 {
	margin-bottom: var(--sp-6);
}

.mb-8 {
	margin-bottom: var(--sp-8);
}

.mx-auto {
	margin-inline: auto;
}

.max-w-prose {
	max-width: var(--sz-prose);
	text-wrap: pretty;
}

.max-w-xs {
	max-width: var(--sz-200);
}

.max-w-md {
	max-width: var(--sz-500);
}

.opacity-80 {
	opacity: 80%;
}
