.container {
	max-width: min(70rem, 100% - var(--padding, 1rem) * 2);
	margin-inline: auto;
}

.flex {
	display: flex;
	gap: var(--gap, 0.5rem);
}

.text-center {
	text-align: center;
}

.mb-2 {
	margin-bottom: 8px;
}

.mb-4 {
	margin-bottom: 16px;
}

.mb-6 {
	margin-bottom: 24px;
}

.mb-8 {
	margin-bottom: 32px;
}

.mx-auto {
	margin-inline: auto;
}

.max-w-prose {
	max-width: 65ch;
}
