---
import Root from "../layouts/root.astro"
import Cta from "../sections/cta.astro"
import Features from "../sections/features.astro"
import HowWorks from "../sections/how-works.astro"
import Intro from "../sections/intro.astro"
import Reviews from "../sections/reviews.astro"
---

<Root class="" title="Fylo landing page with dark theme and features grid">
	<Intro />

	<div class="container">
		<Features />
		<HowWorks />
		<Reviews />
	</div>

	<Cta />
</Root>

<style></style>
