---
interface Props {
	class?: string
}

const { class: className, ...rest } = Astro.props
---

<button class:list={["btn ff-accent fw-bold fs-400", className]} {...rest}><slot /></button>

<style>
	.btn {
		height: var(--sp-10);
		width: 100%;
		padding-inline: var(--sp-6);
		border-radius: var(--br-full);
		border: 0;
		background-color: hsl(var(--clr-accent-1));
		background-image: var(--clr-gradient);
		color: currentColor;
		text-transform: capitalize;
		cursor: pointer;
	}

	.btn:hover {
		background-image: none;
	}

	@media (min-width: 48em) {
		.btn {
			height: var(--sp-12);
		}
	}
</style>
