---
interface Props {
	class?: string
}

const { class: className, ...rest } = Astro.props
---

<button class:list={["btn ff-accent fw-bold fs-400", className]} {...rest}><slot /></button>

<style>
	.btn {
		height: 2.5rem;
		width: 100%;
		padding-inline: 1.5rem;
		border-radius: 9999rem;
		border: 0;
		background-color: red;
		color: silver;
		text-transform: capitalize;
	}

	@media (min-width: 48em) {
		.btn {
			height: 3rem;
		}
	}
</style>
