---
interface Props {
	href: string
	type: "location" | "phone" | "email"
}

const { href, type } = Astro.props
---

<a href={href} class:list={["contact-link", `contact-${type}`]}><slot /></a>

<style>
	.contact-link {
		display: block;
	}

	.contact-link + .contact-link {
		margin-top: 1rem;
	}

	.contact-link::before {
		content: "x";
		background-color: red;
		display: inline-block;
		margin-right: 0.5rem;
	}

	.contact-location::before {
		content: "L";
	}

	.contact-phone::before {
		content: "P";
	}

	.contact-email::before {
		content: "E";
	}
</style>
