---
interface Props {
	type: "location" | "phone" | "email"
}

const { type } = Astro.props
---

<p class:list={["contact-info", `contact-${type}`]}><slot /></p>

<style>
	.contact-info + .contact-info {
		margin-top: 1rem;
	}

	.contact-info::before {
		content: "x";
		background-color: red;
		display: inline-block;
		margin-right: 0.5rem;
	}

	.contact-location::before {
		content: "L";
	}

	.contact-phone::before {
		content: "P";
	}

	.contact-email::before {
		content: "E";
	}
</style>
