---
interface Props {
	href: string
	type: "location" | "phone" | "email"
	class?: string
}

const { href, type, class: className } = Astro.props
---

<a href={href} class:list={["contact-link", `contact-${type}`, className]}><slot /></a>

<style>
	.contact-link {
		display: flex;
		text-wrap: balance;
	}

	.contact-link + .contact-link {
		margin-top: var(--sp-4);
	}

	.contact-link::before {
		display: inline-block;
		margin-right: var(--sp-2);
	}

	.contact-location::before {
		content: url(/images/icon-location.svg);
	}

	.contact-phone::before {
		content: url(/images/icon-phone.svg);
	}

	.contact-email::before {
		content: url(/images/icon-email.svg);
	}
</style>
