---
import Button from "../components/button.astro"
---

<form class="cta-form" novalidate id="newsletter">
	<div class="form-group">
		<input class="fs-200" id="email" type="email" required />
		<span class="fs-200 error" aria-live="polite"></span>
	</div>
	<Button>Get Started For Free</Button>
</form>

<style>
	.cta-form {
		display: grid;
		gap: 1rem;
	}

	.form-group {
		display: grid;
		gap: 4px;
		grid-auto-columns: 100%;
	}

	input {
		height: 2.5rem;
		padding-inline: 1.5rem;
		border-radius: 9999rem;
		border: 0;
	}

	@media (min-width: 48em) {
		.cta-form {
			grid-template-columns: 1fr max-content;
		}

		input {
			height: 3rem;
			font-size: var(--fs-300);
		}

		.error {
			height: var(--sp-500);
			font-size: var(--fs-300);
		}
	}
</style>

<script>
	const form = document.getElementById("newsletter")
	const email = document.getElementById("email") as HTMLInputElement
	const emailError = document.querySelector("#email + .error") as HTMLSpanElement

	email?.addEventListener("input", () => {
		if (email.validity.valid) {
			emailError.textContent = ""
			emailError.classList.remove("active")
		} else {
			showError()
		}
	})

	form?.addEventListener("submit", (evt) => {
		evt.preventDefault()
		if (!email.validity.valid) {
			showError()
		}
	})

	function showError() {
		emailError.textContent = "Please enter a valid email address"
		emailError.classList.add("active")
	}
</script>
