---
interface Props {
	imgUrl: string
	altText: string
	title: string
}

const { imgUrl, altText, title } = Astro.props
---

<article class="text-center | feature">
	<img class="mb-6 mx-auto" src={imgUrl} alt={altText} />
	<h3 class="fs-500 mb-2">{title}</h3>
	<p><slot /></p>
</article>

<style>
	.feature {
		max-width: var(--sz-400);
	}

	img {
		max-height: 56px;
		max-width: 56px;
	}

	@media (min-width: 48em) {
		h3 {
			font-size: var(--fs-600);
		}
	}
</style>
