---
import ContactInfo from "./contact-info.astro";
import NavList from "./nav-list.astro";
import SocialsList from "./socials-list.astro";

const navList1 = [
  {
    href: "#",
    label: "About Us",
  },
  {
    href: "#",
    label: "Jobs",
  },
  {
    href: "#",
    label: "Press",
  },
  {
    href: "#",
    label: "Blog",
  },
];

const navList2 = [
  {
    href: "#",
    label: "Contact Us",
  },
  {
    href: "#",
    label: "Terms",
  },
  {
    href: "#",
    label: "Privacy",
  },
];
---

<footer>
  <header class="footer-header">
    <img src="" alt="Fylo" />
  </header>
  <main class="footer-content">
    <div class="contact">
      <ContactInfo type="location">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facere
        consequuntur numquam, fuga unde quas illum, saepe tempore voluptas.
      </ContactInfo>
      <div>
        <ContactInfo type="phone">+1-543-123-4567</ContactInfo>
        <ContactInfo type="email">example@fylo.com</ContactInfo>
      </div>
    </div>
    <div class="navs">
      <NavList items={navList1} />
      <NavList items={navList2} />
    </div>
    <div class="socials">
      <SocialsList />
    </div>
  </main>
</footer>

<style>
  .contact {
    display: grid;
    gap: 1rem;
  }

  .navs {
    display: grid;
    gap: 1rem;
  }

  @media (min-width: 48em) {
    .footer-content {
      display: flex;
      gap: 80px;
    }

    .contact {
      grid-template-columns: 1fr 1fr;
    }
    .navs {
      display: flex;
    }
  }
</style>
