---
import NavList from "./nav-list.astro"

const navList = [
	{
		href: "#",
		label: "Features",
	},
	{
		href: "#",
		label: "Team",
	},
	{
		href: "#",
		label: "Sign In",
	},
]
---

<header class="bg-700">
	<div class="container main-header">
		<a href="/"><img class="logo" src="/images/logo.svg" alt="Fylo" /></a>
		<nav>
			<NavList class="ff-accent header-nav" items={navList} flex />
		</nav>
	</div>
</header>

<style>
	.main-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-block: var(--sp-6);
	}

	.header-nav {
		font-size: var(--fs-300);
		justify-content: space-evenly;
	}

	.header-nav :global(a) {
		opacity: 0.8;
	}

	.header-nav :global(a:hover) {
		text-decoration: underline;
		opacity: 1;
	}

	@media (max-width: 48em) {
		.logo {
			height: var(--sp-5);
		}
	}

	@media (min-width: 48em) {
		.main-header {
			padding-block: var(--sp-16);
		}

		.header-nav {
			font-size: var(--fs-500);
		}
	}
</style>
