---
import NavList from "./nav-list.astro"

const navList = [
	{
		href: "#",
		label: "Features",
	},
	{
		href: "#",
		label: "Team",
	},
	{
		href: "#",
		label: "Sign In",
	},
]
---

<header class="container main-header">
	<a href="/"><img class="logo" src="/images/logo.svg" alt="Fylo" /></a>
	<nav>
		<NavList class="ff-accent header-nav" items={navList} flex />
	</nav>
</header>

<style>
	.main-header {
		display: flex;
		justify-content: space-between;
	}

	.header-nav {
		font-size: var(--fs-300);

		@media (min-width: 48em) {
			& {
				font-size: var(--fs-500);
			}
		}
	}

	.logo {
		height: 1.25rem;
	}
</style>
