---
interface Item {
	href: string
	label: string
}

interface Props {
	items: Item[]
	flex?: boolean
	class: string
}

const { items, flex = false, class: className, ...rest } = Astro.props
---

<ul class:list={["nav-list", { flex }, className]} {...rest}>
	{
		items.map(({ href, label }) => (
			<li class="nav-item">
				<a class="nav-link" href={href}>
					{label}
				</a>
			</li>
		))
	}
</ul>

<style>
	.nav-list.flex {
		--gap: var(--sp-4);
	}

	@media (min-width: 48em) {
		.nav-list.flex {
			--gap: var(--sp-14);
		}
	}
</style>
