---
interface Author {
	name: string
	position: string
	avatarUrl: string
}

interface Props {
	author: Author
}

const { author } = Astro.props
const { name, position, avatarUrl } = author
---

<article class="review">
	<p class="fs-200 mb-4"><slot /></p>
	<div class="review__author">
		<img class="review__avatar" src={avatarUrl} alt={name} />
		<div>
			<span class="block mb-1 fw-bold fs-200">{name}</span>
			<span class="block fs-100">{position}</span>
		</div>
	</div>
</article>

<style>
	.review {
		background-color: hsl(var(--clr-primary-600));
		border-radius: var(--br-xs);
		padding: var(--sp-6) var(--sp-4);
	}

	.review__author {
		display: flex;
		gap: var(--sp-2);
		align-items: center;
	}

	.review__avatar {
		width: var(--sp-6);
		aspect-ratio: 1;
		border-radius: var(--br-full);
	}

	.review__name {
	}

	@media (min-width: 48em) {
		.review > p {
			font-size: var(--fs-400);
		}
	}
</style>
