---

---

<ul class="socials-list">
	<li class="socials-item"><a class="socials-link" href="#">F</a></li>
	<li class="socials-item"><a class="socials-link" href="#">T</a></li>
	<li class="socials-item"><a class="socials-link" href="#">I</a></li>
</ul>

<style>
	.socials-list {
		display: flex;
		justify-content: center;
		gap: var(--sp-2);
	}

	.socials-link {
		display: inline-grid;
		place-content: center;
		width: var(--sp-5);
		aspect-ratio: 1;
		border: 1px solid currentColor;
		border-radius: var(--br-full);
	}
</style>
