---
import CtaForm from "../components/cta-form.astro"
---

<section class="cta-section">
	<div class="max-w-md mx-auto | cta-card">
		<div class="text-center">
			<h2 class="fs-500">Get early access today</h2>
			<p>
				It only takes a minute to sign up and our free starter tier is extremely generous. If you
				have any questions, our support team would be happy to help you.
			</p>
		</div>
		<CtaForm />
	</div>
</section>

<style>
	.cta-section {
		padding-block: 7rem 4rem 5rem;
		background: linear-gradient(0deg, rgba(255, 212, 255, 0) 50%, rgba(255, 212, 255, 1) 50%);
	}

	.cta-card {
		background-color: violet;
		padding: 2rem 1.5rem;
		display: grid;
		gap: 1rem;
	}

	@media (min-width: 48em) {
		.cta-section {
			padding-block: 10rem 7rem;
		}

		.cta-card {
			border-radius: 0.25rem;
			padding: 4rem 5rem;
		}

		h2 {
			font-size: var(--fs-800);
		}
	}
</style>
