---
import CtaForm from "../components/cta-form.astro"
---

<section class="cta-section">
	<div class="max-w-md mx-auto | cta-card">
		<div class="text-center">
			<h2 class="fs-500">Get early access today</h2>
			<p>
				It only takes a minute to sign up and our free starter tier is extremely generous. If you
				have any questions, our support team would be happy to help you.
			</p>
		</div>
		<CtaForm />
	</div>
</section>

<style>
	.cta-section {
		padding-block: var(--sp-28) var(--sp-16) var(--sp-20);
		background: linear-gradient(0deg, hsl(var(--clr-primary-900)) 50%, transparent 50%);
	}

	.cta-card {
		background-color: hsl(var(--clr-primary-700));
		padding: var(--sp-8) var(--sp-6);
		display: grid;
		gap: var(--sp-4);
	}

	@media (min-width: 48em) {
		.cta-section {
			padding-block: var(--sp-40) var(--sp-28);
		}

		.cta-card {
			border-radius: var(--br-xs);
			padding: var(--sp-16) var(--sp-20);
		}

		h2 {
			font-size: var(--fs-800);
		}
	}
</style>
