---
import Button from "../components/button.astro"
---

<section class="center">
	<img class="mb-8" src="/images/illustration-intro.png" alt="fylo intro" />
	<h1 class="mb-4">All your files in one secure location, accessible anywhere.</h1>
	<p class="mb-6">
		Fylo stores all your most important files in one secure location. Access them wherever you need,
		share and collaborate with friends family, and co-workers.
	</p>
	<Button>Get started</Button>
</section>
