---
import Button from "../components/button.astro"
---

<section class="text-center">
	<img class="mb-8 mx-auto" src="/images/illustration-intro.png" alt="fylo intro" />
	<h1 class="mb-4">All your files in one secure location, accessible anywhere.</h1>
	<p class="mb-6 mx-auto max-w-prose">
		Fylo stores all your most important files in one secure location. Access them wherever you need,
		share and collaborate with friends family, and co-workers.
	</p>
	<Button class="max-w-xs">Get started</Button>
</section>

<style></style>
