---
import Review from "../components/review.astro"

const reviews = [
	{
		comment:
			"Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.",
		author: {
			name: "Satish Patel",
			position: "Founder & CEO, Huddle",
			avatarUrl: "/images/profile-1.jpg",
		},
	},
	{
		comment:
			"Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.",
		position: "Founder & CEO, Huddle",
		author: {
			name: "Bruce McKenzie",
			position: "Founder & CEO, Huddle",
			avatarUrl: "/images/profile-2.jpg",
		},
	},
	{
		comment:
			"Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.",
		position: "Founder & CEO, Huddle",
		author: {
			name: "Iva Boyd",
			position: "Founder & CEO, Huddle",
			avatarUrl: "/images/profile-3.jpg",
		},
	},
]
---

<section class="reviews">
	{reviews.map(({ comment, author }) => <Review author={author}>{comment}</Review>)}
</section>

<style>
	.reviews {
		position: relative;
		display: grid;
		gap: var(--sp-6);
		grid-template-columns: repeat(auto-fit, minmax(min(100%, 22rem), 1fr));
		justify-content: center;
		margin-bottom: var(--sp-28);
	}

	.reviews::before {
		--width: var(--sp-5);
		position: absolute;
		top: calc((var(--width) * 0.3) - var(--width));
		content: " ";
		width: var(--width);
		aspect-ratio: 1;
		background-image: url(/images/bg-quotes.png);
		background-repeat: no-repeat;
		background-size: contain;
		z-index: -1;
	}

	@media (width >= 48em) {
		.reviews:before {
			--width: var(--sp-12);
			left: calc((var(--width) * 0.8) - var(--width));
		}
	}
</style>
